<div class="container">
  <h1 class="form-title">
    {{title}}
  </h1>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">


    <div class="form-group">
      <label for="actualPassword">Actual Password</label>
      <input type="password" class="form-control" id="actualPassword"
             placeholder="Enter actual password" formControlName="actualPassword" />
    </div>

    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" class="form-control" id="newPassword"
             placeholder="Enter a new password" formControlName="newPassword" />
    </div>
    <div class="form-group">
      <label for="repeatPassword">Repeat new Password</label>
      <input type="password" class="form-control" id="repeatPassword"
             placeholder="Enter repeated new password" formControlName="repeatPassword" />
    </div>


    <button class="btn btn-primary" type="submit">Change Password</button>
    <button class="btn btn-primary" (click)="backClicked()">Back</button>
  </form>
</div>
