.car-list{
  display: inline-block;
  margin-top: 5%;
  width: 20%;
  border: medium groove;
  position: relative;
  border-radius: 5px;
  margin-left: 10%;
}

.center{
  width: auto;
  height: auto;
  margin: 5px auto 5px 5px;
  position: relative;
}
.form-title{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  color: black;

}

div{
  background-color: #9a9da0;
}

.date-picker{
  display: inline-block;
}
img {
  max-width: 100%;
  max-height: 100%;
}

button {
  margin: 2% 2% 2% 70%;
  color: #9a9da0;
  background-color: #343a40;
}

button:hover {
  margin: 2% 2% 2% 70%;
  color: #343a40;
  background-color: #9a9da0;
}

.on-same-line{
  display: inline-block;
  width: 200px;
  margin-left: 25px;
}
