<div class="container">
  <div class="center">
  <div style="margin-top: 10%" *ngIf="null != car.photo || empty != car.photo || undefined != car.photo">
    <img [src]="car.photo" height="330" *ngIf="car.photo">
  </div>

  <p >Car brand: {{car.brand}}</p>
  <p >Car model: {{car.model}}</p>
  <p >Fabrication year: {{car.fabricationYear}}</p>
  <p >Number of doors : {{car.doors}}</p>
  <p >Number of seats : {{car.seats}}</p>
  <p >Gearbox : {{car.gearbox}}</p>
  <p >Fuel Type : {{car.fuelType}}</p>
  <p >Horse power : {{car.horsePower}}</p>
  <p >Color : {{car.color}}</p>
  <p >Conditional air : {{car.conditionalAir}}</p>
  <p >Luggage volume : {{car.luggageCarrierVolume}}</p>
  <p >Insurance : {{car.insurance}} €</p>
  <h2 >{{car.pricePerDay}} € per day</h2>
  <button (click)="rentCar(car.id)">Rent</button>
    <button *ngIf="currentUser.userRole === 'ADMIN_ROLE'" (click)="editCar(car.vehicleIdentificationNumber)">Edit</button>
  </div>
</div>
