<div>
  <div class="date-picker">
    <label>Start date</label>
    <br>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerStart" (dateChange)="onChangeStartEvent($event)">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="date-picker">
    <label>End date</label>
    <br>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerEnd" (dateChange)="onChangeEndEvent($event)">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="date-picker">
    <button (click)="findCarsByDate()">Search</button>
  </div>
</div>
<br>
<br>

<button (click)="toggleFilter()">Filter</button>
<div *ngIf="filterToggle" class="container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">

    <div class="form-group on-same-line">
      <label>Brand:</label>
      <select class="form-control" (change)="changeBrand(brand.value)" #brand>
        <option style=" width: auto !important;" *ngFor="let brand of brandList">{{brand}}</option>
      </select>
    </div>

    <div class="form-group on-same-line">
      <label>Model:</label>
      <select class="form-control" (change)="changeModel(model.value)" #model>
        <option style=" width: auto !important;" *ngFor="let model of modelList">{{model}}</option>
      </select>
    </div>

    <div class="form-group on-same-line">
      <label for="seats">Seats</label>
      <input type="number" class="form-control" id="seats"
             formControlName="seats"
             min="1" max="10"/>
    </div>

    <div class="form-group on-same-line">
      <label for="fabricationYear">Fabrication Year</label>
      <input type="number" class="form-control" id="fabricationYear" formControlName="fabricationYear"
             min="1995" max="2021"/>
    </div>

    <div class="form-group on-same-line">
      <label for="priceIntervalMin">Price min</label>
      <input type="number" class="form-control" id="priceIntervalMin"
             formControlName="priceIntervalMin"
             min="1" max="1000"/>
    </div>

    <div class="form-group on-same-line">
      <label for="priceIntervalMax">Price max</label>
      <input type="number" class="form-control" id="priceIntervalMax"
             formControlName="priceIntervalMax"
             min="1" max="1000"/>
    </div>

    <div class="form-group on-same-line">
      <label>Conditional Air:</label>
      <div class="on-same-line">
        <input id="conditionalAirBoth" type="radio" value="both" name="conditionalAir" formControlName="conditionalAir"
               [value]=null>
        <label for="conditionalAirBoth">Both</label>
      </div>

      <div class="on-same-line">
        <input id="conditionalAirNo" type="radio" value="no" name="conditionalAir" formControlName="conditionalAir"
               [value]=false>
        <label for="conditionalAirNo">No</label>
      </div>

      <div class="on-same-line">
        <input id="conditionalAirYes" type="radio" value="yes" name="conditionalAir" formControlName="conditionalAir"
               [value]=true>
        <label for="conditionalAirYes">Yes</label>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
    <button class="btn btn-primary" (click)="resetFilter()">Reset</button>
  </form>

</div>
<div class="car-list" *ngFor="let car of carListFiltered | paginate: config">
  <div class="center">
    <div style="margin-top: 10%" *ngIf="null != car.photo || empty != car.photo || undefined != car.photo">
      <img [src]="car.photo" height="330" *ngIf="car.photo">
    </div>
    <p>Car brand: {{car.brand}}</p>
    <p>Car model: {{car.model}}</p>
    <p>Fabrication year: {{car.fabricationYear}}</p>
    <h2>{{car.pricePerDay}} €</h2>
    <button (click)="redirectToCarDetails(car.vehicleIdentificationNumber)">Open</button>
  </div>
</div>
<pagination-controls (pageChange)="pageChange($event)" class="center"></pagination-controls>
