<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="container">
  <h1 class="form-title">
    {{title}}
  </h1>

  <table>
    <tr>
      <td>First Name</td>
      <td >{{user.surname}}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td >{{user.name}}</td>

    </tr>
    <tr>
      <td>Email</td>
      <td >{{user.email}}</td>

    </tr>
    <tr>
      <td>Phone Number</td>
      <td >{{user.phone}}</td>

    </tr>
    <tr>
      <td>Role</td>
      <td>{{user.userRole}}</td>
    </tr>
  </table>
  <div class="buttons-container">
    <button (click)="redirectToEditPage()" class="btn btn-secondary">Edit profile</button>
    <button (click)="redirectToChangePasswordPage()" class="btn btn-secondary">Change password</button>
    <button class="btn btn-secondary">Change profile picture</button>
  </div>
</div>
