<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div *ngIf="filtersLoaded | async" class="container">
  <h1 class="form-title">
    {{title}}
  </h1>

  <div style="margin-left: 25%" class="align-center" *ngIf="null != user.photo || empty != user.photo || undefined != user.photo">
    <img [src]="user.photo" height="200" *ngIf="user.photo">
  </div>

  <table>
    <tr>
      <td>First Name</td>
      <td>{{user.surname}}</td>

    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{user.name}}</td>

    </tr>
    <tr>
      <td>Email</td>
      <td>{{user.email}}</td>

    </tr>
    <tr>
      <td>Phone Number</td>
      <td>{{user.phone}}</td>

    </tr>
    <tr>
      <td>Role</td>
      <td>{{user.userRole}}</td>
    </tr>
  </table>
  <div class="buttons-container">
    <button (click)="redirectToEditPage()" class="btn btn-secondary">Edit profile</button>
    <button (click)="redirectToChangePasswordPage()" class="btn btn-secondary">Change password</button>
    <button (click)="redirectToChangePicturePage()" class="btn btn-secondary">Change profile picture</button>
    <button (click)="redirectToChangeCardPage()" class="btn btn-secondary">View/Delete/Add card</button>
  </div>
</div>
